<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<!--List of secret env vars and their values-->
			<url>http://www.edgewordstraining.co.uk/demo-site/my-account/</url>
			<BROWSER>Chrome</BROWSER>
			<username>ryetike3@gmail.com</username>
			<password>nFocusAug22</password>
			<coupon>edgewords</coupon>
			<firstName>Solomon</firstName>
			<lastName>Rondon</lastName>
			<streetAddress>21 Jump Street</streetAddress>
			<town>Crawley</town>
			<postcode>WC1N 2AB</postcode>
			<phone>0124573829</phone>
			<email>ryetike3@gmail.com</email>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings> 
